/* CategoryManagement.css */

.CategoryManagement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 15px;
}

.CategoryManagement {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.heading {
  margin-top: 10px;
  text-align: left;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .CategoryManagement {
    max-width: 100%;
  }
}

.common-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
