.form-check-input:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
  }
  
  body {
    background-color: #e5e5e5;
  }
  
  .mb-3 {
    margin-top: 1rem !important;
  }
  
  /* Search box */
  .form-control {
    border-radius: 5px 0px 0px 5px !important;
    
  }
  
  .searchButton {
    border-radius: 0px 5px 5px 0px !important;
  }
  
  /* Dropdown-item */
  .dropdown-menu {
    margin-right: -60px !important;
  }
  
  .dropdown-item {
    font-size: 12px;
  }
  
  .dropdown-item:hover {
    background-color: #dc3545;
    color: white;
  }
  
  /* Category */
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .category:hover {
    background-color: #dc3545;
    color: white;
  }
  
  /* Scroll menu */
  .scrollmenu {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    gap: 5px;
  }
  
  .scrollmenu button {
    background-color: #f8f9fa;
    border: none;
    color: #333;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .scrollmenu button:hover {
    background-color: #ddd;
  }
  
  /* Customize the scrollbar color */
  .scrollmenu::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Card */
  .column {
    margin: 0 !important;
  }
  
  .rows {
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
  }
  
  .card {
    display: flex;
    padding: 0 !important;
    border-radius: 16px !important;
    box-shadow: 8px 8px lightgray;
    width: 10rem !important;
    margin: 15px 5px 0px 5px !important;
    height: 250px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    border-radius: 16px 16px 0px 0px !important;
  }
  
  .logo {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
  
  .card-footer:last-child {
    border-radius: 0px 0px 16px 16px;
  }
  
  .card-title {
    font-size: 14px;
  }
  
  .card-text {
    display: flex;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
  }
  .show-more{
    color: #012970;
    text-decoration: underline;
    cursor: pointer;
    margin-top: -25px;
    display: flex;
    justify-content: end;
  }
  /* Category icon and name */
  .category-icon {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }
  
  .category-name {
    font-size: 14px;
    text-align: center;
  }
  
  /* footer */
  .footer {
    background-color: black;
    border-radius: 20px 20px 0px 0px;
    padding: 15px;
    color: white;
  }
  
  .addLogo {
    margin-top: 12px !important;
    width: 30px !important;
    height: 30px !important;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .heading {
    margin-left: 20px;
  }
  

  .capsule {
    border: 1px solid #012970; /* Light grey border */
    border-radius: 20px;    /* Rounded corners */
    padding: 5px 15px;      /* Padding around content */
    background-color: var(--White);; /* Light background color */
  }
  
  .category-content {
    display: flex;
    align-items: center;
  }
  
  .category-name {
    font-size: 18px;        /* Adjust text size as needed */
    color: #012970;            /* Text color */
  }
  
  .category-badge-number {
    background-color: transparent; /* No background color */
    color: red;            /* Count text in red */
    font-weight: bold;     /* Make count bold */
   
    padding: 2px 6px;      /* Padding around the count */
    margin-left: 5px;      /* Space between text and count */
    font-size: 20px;       /* Adjust font size as needed */
  }
  
