/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    height: 4px; /* Height of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--White); /* Background of the track */
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--Orange); /* Color of the scrollbar thumb */
    border-radius: 4px;
    transition: background 0.3s ease-in-out;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--White); /* Color on hover */
  }
  