/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    width: 100%;
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
    background: #f6f9ff !important;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }
  