/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 270px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: var(--White);
}

/* Sidebar hidden by default on small screens */
@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--White);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

/* Toggle Sidebar Visibility */
body.toggle-sidebar .sidebar {
  left: 0;
}

@media (min-width: 1200px) {
  .sidebar {
    left: 0;
  }

  body.toggle-sidebar .sidebar {
    left: -300px;
  }

  #main,
  #footer {
    margin-left: 270px; /* Ensure main content shifts when sidebar is visible */
    transition: margin-left 0.3s;
  }

  body.toggle-sidebar #main,
  body.toggle-sidebar #footer {
    margin-left: 0; /* Ensure main content shifts when sidebar is hidden */
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Sidebar Nav Styles */
.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--Black);
  padding: 10px 15px;
  border-radius: 4px;
  transition: 0.3s;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: var(--Black);
}

.sidebar-nav .nav-link.collapsed {
  color: var(--Black);
  background: var(--White);
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: var(--White);
  background: var(--Orange);
}

.sidebar-nav .nav-link:hover i {
  color: var(--White);
}

.sidebar-nav .nav-link.active {
  color: var(--White);
  background: var(--Orange);
}

.sidebar-nav .nav-link.active i {
  color: var(--White);
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--Blue);
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: var(--Blue);
}

.sidebar-nav .nav-content a.active i {
  background-color: var(--Blue);
}

.company-name {
  color: red;
}

.bottom {
  background: var(--Orange);
  padding: 20px 1px;
  margin-top: 300px;
}
